html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

#comments {
  margin: 30px 0; }
  #comments #respond {
    margin-top: 50px; }
  #comments p {
    color: #7a7a7a; }
  #comments #comments-title {
    font-size: 20px;
    color: #4d4e4e; }
  #comments ol {
    padding: 0;
    margin: 0;
    list-style: none; }
    #comments ol li {
      list-style: none;
      margin-bottom: 30px; }
    #comments ol .children {
      padding-left: 40px;
      list-style: none; }
  #comments .comment-top {
    background-color: #f4f4f4;
    padding: 15px;
    overflow: hidden;
    p: first-child;
      p-margin-top: 0; }
    #comments .comment-top img {
      float: left;
      margin: 0 15px 15px 0; }
    #comments .comment-top p {
      display: inline; }
  #comments .comment-bottom {
    margin: 7px 0;
    color: #7a7a7a; }

.alignnone {
  margin: 5px 20px 20px 0; }

.aligncenter, div.aligncenter {
  display: block;
  margin: 5px auto 5px auto; }

.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

.aligncenter {
  display: block;
  margin: 5px auto 5px auto; }

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px; }
a img.alignnone {
  margin: 5px 20px 20px 0; }
a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }
a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.wp-caption {
  background: white;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  padding: 5px 3px 10px;
  text-align: center; }
  .wp-caption.alignnone, .wp-caption.alignleft {
    margin: 5px 20px 20px 0; }
  .wp-caption.alignright {
    margin: 5px 0 20px 20px; }
  .wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto; }
  .wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px; }

.upcase {
  text-transform: uppercase; }

.icones-sprite, .icones-mkt-virtual, .icones-search, .icones-twitter_hover {
  background: url('../images/../images/icones-sfd352edd95.png') no-repeat; }

.icones-mkt-virtual {
  background-position: 0 -102px;
  height: 5px;
  width: 59px; }
  .icones-mkt-virtual:hover, .icones-mkt-virtual.mkt-virtual_hover, .icones-mkt-virtual.mkt-virtual-hover {
    background-position: 0 -127px; }

.icones-search {
  background-position: 0 0;
  height: 30px;
  width: 31px; }

.icones-twitter_hover {
  background-position: 0 -50px;
  height: 32px;
  width: 33px; }

.icones-sprite, .icones-mkt-virtual, .icones-search, .icones-twitter_hover {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline; }

body {
  font: normal 14px "Dosis", sans-serif;
  color: #404040; }

p {
  margin: 5px 0 10px; }

strong {
  font-weight: 600; }

body, html {
  height: 100%;
  line-height: 22px; }

#root {
  height: 100%;
  background: white; }

input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }
  a.no-decoration:hover {
    text-decoration: none; }

html {
  background: white; }

a, a:active, p, a:hover, h1, h2, span, li, ul, h2, h3 {
  color: gray; }

.middle-view {
  width: 970px;
  margin: 0 auto;
  overflow: hidden; }

i {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline; }

#tour {
  padding: 20px;
  background: gray; }
  #tour div.compass-example {
    font-size: 30px;
    line-height: 36px;
    background: yellow;
    margin: 10px 0; }
    #tour div.compass-example:nth-child(2) {
      display: -moz-inline-stack;
      display: inline-block;
      vertical-align: middle;
      *vertical-align: auto;
      zoom: 1;
      *display: inline; }
    #tour div.compass-example:nth-child(3) {
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
      border-radius: 20px; }
    #tour div.compass-example:nth-child(4) {
      -webkit-box-shadow: 2px 5px 7px black;
      -moz-box-shadow: 2px 5px 7px black;
      box-shadow: 2px 5px 7px black; }
    #tour div.compass-example:nth-child(5) {
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
      opacity: 0.5; }
    #tour div.compass-example:nth-child(6) {
      -webkit-transition-property: all;
      -moz-transition-property: all;
      -o-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.6s;
      -moz-transition-duration: 0.6s;
      -o-transition-duration: 0.6s;
      transition-duration: 0.6s;
      -webkit-transition-timing-function: ease-out;
      -moz-transition-timing-function: ease-out;
      -o-transition-timing-function: ease-out;
      transition-timing-function: ease-out;
      background: red;
      text-align: center; }
      #tour div.compass-example:nth-child(6):hover {
        background: green;
        color: white;
        -webkit-transform: scale(1.2, 1.2);
        -moz-transform: scale(1.2, 1.2);
        -ms-transform: scale(1.2, 1.2);
        -o-transform: scale(1.2, 1.2);
        transform: scale(1.2, 1.2); }
    #tour div.compass-example #thumb {
      -webkit-transition-property: all;
      -moz-transition-property: all;
      -o-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.4s;
      -moz-transition-duration: 0.4s;
      -o-transition-duration: 0.4s;
      transition-duration: 0.4s;
      -webkit-transition-timing-function: ease-out;
      -moz-transition-timing-function: ease-out;
      -o-transition-timing-function: ease-out;
      transition-timing-function: ease-out;
      image-rendering: crisp-edges; }
      #tour div.compass-example #thumb:hover {
        -webkit-transform:  scale(1.2, 1.2) rotateZ(-2deg) translate(3px, 4px) skewX(-13deg);
        -moz-transform:  scale(1.2, 1.2) rotateZ(-2deg) translate(3px, 4px) skewX(-13deg);
        -ms-transform:  scale(1.2, 1.2) rotateZ(-2deg) translate(3px, 4px) skewX(-13deg);
        -o-transform:  scale(1.2, 1.2) rotateZ(-2deg) translate(3px, 4px) skewX(-13deg);
        transform:  scale(1.2, 1.2) rotateZ(-2deg) translate(3px, 4px) skewX(-13deg); }
  #tour div.compass-sprites {
    background: black;
    color: white; }
    #tour div.compass-sprites .icones-search, #tour div.compass-sprites .icones-mkt-virtual {
      -webkit-transition-property: all;
      -moz-transition-property: all;
      -o-transition-property: all;
      transition-property: all;
      -webkit-transition-duration: 0.4s;
      -moz-transition-duration: 0.4s;
      -o-transition-duration: 0.4s;
      transition-duration: 0.4s;
      -webkit-transition-timing-function: ease-out;
      -moz-transition-timing-function: ease-out;
      -o-transition-timing-function: ease-out;
      transition-timing-function: ease-out; }
    #tour div.compass-sprites .icones-search:hover {
      -webkit-transform: translateY(-10px);
      -moz-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
      -o-transform: translateY(-10px);
      transform: translateY(-10px); }
  #tour ul {
    margin-top: 30px; }
    #tour ul li {
      color: black;
      padding: 8px 15px;
      margin-bottom: 10px;
      font-size: 20px;
      background: pink; }
      #tour ul li:nth-child(odd) {
        background: white; }
  #tour .square {
    width: 10%;
    height: 100px;
    background: white;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    margin: 10px 5px 20px; }
    #tour .square:last-child {
      background: blue; }
    #tour .square:nth-child(3n+3) {
      outline: solid 3px red;
      background: red; }
