.wpcf7-response-output
	display: block
	margin: 70px 0 0
	overflow: hidden
	border: solid 2px #e1dede
	background: gray
	color: black
.wpcf7-validation-errors
	border-color: red
	background: red
	color: white
.wpcf7-display-none
	display: none

.mailing-message
	font-size: 30px
	padding: 20px 100px
	margin: 0
	height: 0px
	line-height: 62px
	background: white
	color: green
	&.error
		color: red